#table{
	background-color: #F0F8FF; border-style: ridge; border-color: #00BFFF; margin-left: 20px;margin-right: 20px;
	 margin-bottom: 20px; margin-top: 20px;
}
#submit{ margin-left: 200px; }

.td{ padding-right: 20px; padding-bottom: 20px; padding-top: 20px; padding-left: 20px;
 color: black; font-weight: bold;}
 .mainTable{  border-color: #00BFFF; font-weight: bold; color: black;}